*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: burlywood;
}

.container{
    margin: 0px 0px 0px 650px;
}

body h1{
    color: blueviolet;
    font-size: 60px;
    text-align: center;
    margin: 30px;
}

.bmi-calculate{
    line-height: 30px;
}

.cal-btn {
    margin-left: 70px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color: greenyellow;
}

.bmi-guide{
    line-height: 30px;
}